@page
@model SuperheroSocialClub.Pages.AboutModel
@{
}
@{
    ViewData["Title"] = "About";
}

<!-- container start -->

<div class="container">

    <!-- about start -->

    <h1>@ViewData["Title"]</h1>

    <p class="col-md-8">
        This ASP.NET Core Web Application is made with .NET 5 and Bootstrap 5.1.
    </p>

    <!-- about end -->

    <!-- special thanks start -->

    <h4>Special thanks</h4>

    Image by <a href="https://pixabay.com/sv/users/conmongt-1226108/?utm_source=link-attribution&amp;utm_medium=referral&amp;
               utm_campaign=image&amp;utm_content=2104643">Christian Dorn</a> from
    <a href="https://pixabay.com/sv/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;
       utm_content=2104643">Pixabay</a>.

    <!-- special thanks end -->

</div>

<!-- container end -->