@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Superhero Social Club</h1>
    <img src="~/images/superhero-2104643_1920.png" />
    <h3 class="py-3">Got any superpowers?</h3>
    <a class="btn btn-danger btn btn-lg" asp-page="/Signup">Sign up</a>
</div>
